*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-main{
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    fill: url('/couchlock-movie-finder/assets/img/bg-image.jpg');
}

nav{
    padding-top: 1%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a{
    color: white;
}

header{
    z-index: 1;
    position: relative;
}

header img{
    z-index: 1;
    width: 20%;
    height: 25%;
    border-bottom: 1px solid white;

}

ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: black;
    justify-content: center;
    align-items: center;
}

ul li{
    padding:  14px 18px;
    font-family: 'Vina Sans', sans-serif;
    font-size: medium;
}

.styleLetter{
    font-family: 'Playfair Display', serif;
    font-weight: 200;
}

.input{
    opacity: 0.8;
}

.styleH2{
    font-family: 'Vina Sans', sans-serif;
    color: rgb(37, 9, 9);
    font-size: larger;
}

ul li:hover::after{
    content: '...';
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.input{
    width: 40%;
    background-color: none;
    margin-top: 1%;
}

.main-description{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 300px;
    padding: 30px 10vw;
}

h2, p{
    z-index: 1;
    float: left;
    color: black;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: larger;
    font-weight: bolder;
}

p{
    font-family: 'Playfair Display', serif;
    font-size: smaller;
}

.btn-drop{
    transition: transform 0.3s ease-in-out 0s;
    position: relative;
    color: white;
    opacity: 0.6;
}

.btn-drop:hover{
    transform: translateY(-10px);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Styles for background */
.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 183px;
}

.wave .shape-fill {
    fill: #ffffff83;
}

/* Styles for the movie page */

.container{
    margin: 0;
    padding-left: 0;
}

.sec-movie{
    padding: 0;
    margin: 0;
    display: block;
    width: 100vw;
    background: linear-gradient(109.6deg, rgb(6, 2, 2) 32.4%, #864e1e 98.8%);
}

.navbar-item{
    padding-left: 2%;
    border-radius: 30px;
}

.navbar-dropdown{
    background-color: rgba(0, 0, 0, 0.608);
    opacity: 0.7;
    color: white;
    font-family: 'Playfair Display', serif;
}

.card-image img{
    height: 50vh;
    width: 100vw;
}

/* Btn save hover styles */
.saveBtn:hover .material-symbols-outlined{
    cursor: grab; 
    fill: goldenrod;
    color: goldenrod;
}

/* CSS Styles for shape */
.triangle-shape {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.triangle-shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.triangle-shape .shape-fill {
    fill: #FFFFFF;
    opacity: 0.1;
}

.title, .heading, .movieSynopsis{
    color: white;
}

.title{
    padding-top: 20%;
    padding-bottom: 1%;
}

.card{
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 80vh;
    background-color: black;
    opacity: 0.8;
    margin: 1.5%;
    z-index: 1;
}

.movieTitle{
    border-bottom: 1px solid white;
    text-align: center;
    padding-top: 0.5%;
    font-size: 20px;
    font-family: 'DM Serif Display', serif;
}

.posterDisplay{
    height: 50vh;
}

.i-title{
    padding: 1%;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    justify-content: center;
    text-align: center;
    color: white;
}

.i-text{
    font-family: 'Playfair Display', serif;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    padding-left: 3%;
}

.span-title{
    font-family: 'Lobster', sans-serif;
}

.sec-iframe{
    padding-top: 1%;
    min-height: 100vh;
}

.larger-size{
    height: 70vh;
}

.larger-size iframe{
    border-radius: 10px;
}

.movieDisplay{
    animation: backInUp;
    animation-duration: 2s;
}

/* Styles for wave */
.wave-shape {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 166px;
}

.wave-shape .shape-fill {
    fill: #FFFFFF;
    opacity: 0.1;
}

iframe{
    justify-content: center;
    width: 100%;
    height: 100%;
}

@keyframes show {
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

.sec-iframe{
    view-timeline-name: --iframe;
    view-timeline-axis: block;

    animation-timeline: --iframe;
    animation-name: show;
    animation-duration: 5s;

    animation-range: entry 10% cover 50%;
    animation-fill-mode: both;
}

.popcorn{
    padding-top: 2%;
    height: 75%;
    width: 100%;
    justify-content: center;
    z-index: 1;
}

iframe:hover{
    animation-play-state: running;
}

.i-title:hover{
    transform: scale(1.1);
    transition-duration: 1s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.563);
}

/* Styles for favorite */
.sec-fav{
    width: 100vw;
    height: 100%;
    margin: 0;
}

.favorite{
    width: 100%;
    height: 100%;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    padding-left: 10%;
    margin-left: 3%;
    overflow-x: hidden;
    transition-duration: 2s;
}

.favorite #savedDisplay{
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    scroll-snap-align: start;

}
