*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-main{
    background-image: url('/couchlock-movie-finder/assets/img/bg-project.jpg');
    height: 100vh;
    min-height: 100vh;
    width: 100%;
}

nav{
    padding-top: 1%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header img{
    width: 20%;
    height: 25%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.659);

}

ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: black;
    justify-content: center;
    align-items: center;
}

ul li{
    padding:  14px 18px;
    font-family: 'Vina Sans', sans-serif;
    font-size: medium;
}

.styleLetter{
    font-family: 'Playfair Display', serif;
    font-weight: 200;
}

.input{
    opacity: 0.8;
}

.styleH2{
    font-family: 'Vina Sans', sans-serif;
    color: rgb(137, 30, 47);
    font-size: larger;
}

ul li:hover::after{
    content: '...';
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.input{
    width: 40%;
    background-color: none;
    margin-top: 1%;
}

.main-description{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 300px;
    padding: 30px 10vw;
}

h2, p{
    z-index: 1;
    float: left;
    color: black;
    padding-top: 1%;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: larger;
    font-weight: bolder;
}

p{
    font-family: 'Playfair Display', serif;
    font-size: smaller;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Styles for background */
.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 183px;
}

.wave .shape-fill {
    fill: #ffffffad;
}

/* Styles for the movie page */
.movie-container{
    display: block;
    height: 100%;
    width: 100%;
    background-image: url('/couchlock-movie-finder/assets/img/bg-general-movies.jpg');
}

.container{
    margin: 0;
    padding-left: 0;
}

.section{
    padding: 0;
    margin: 0;
    display: block;
    width: 100vw;
    background: linear-gradient(109.6deg, rgb(6, 2, 2) 32.4%, rgb(137, 30, 47) 98.8%);

}

.posterDisplay{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 0;
    height: 100vh;
    float: left;
}

/* CSS Styles for shape */
.triangle-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.triangle-shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.triangle-shape .shape-fill {
    fill: #ffffff83;
}

.is-4{
    margin-top: 3%;
    border-radius: 30px;
}

.card{
    background-color: black;
    opacity: 0.6;
}

.title, .heading, .movieSynopsis{
    color: white;
}

.title{
    padding-top: 20%;
    padding-bottom: 1%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.57);
}

.title, .movieSynopsis{
    margin-top: 5%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

iframe{
    padding: 1%;
    justify-content: center;
    height: 50%;
    padding-top: 3%;
}

